all-versions:
- 0.2.0.0
- 0.2.1.0
- 0.2.1.1
- 0.3.0.0
- 0.3.1.0
- 0.3.1.1
- 0.3.1.2
- 1.0.0.0
- 1.0.1.0
- 1.0.1.1
- 1.0.1.3
- 1.1.0.0
- 1.2.0.1
author: Rick Owens
basic-deps:
  aeson: '>=2.2.1.0 && <2.3'
  base: '>=4.19.2.0 && <4.22'
  insert-ordered-containers: '>=0.2.5.3 && <0.3'
  json-spec: '>=1.3.0.0 && <1.4'
  lens: '>=5.2.3 && <5.4'
  openapi3: '>=3.2.4 && <3.3'
  text: '>=2.1 && <2.2'
changelog: |
  # Changelog

  All notable changes to this project will be documented in this file.

  ## Unreleased

  - Upgraded the json-spec dependency (adapts to json-spec 1.3 breaking change
    where `JsonEither` takes a type-level list of specs instead of two
    arguments).
changelog-type: markdown
description: |
  # json-spec-openapi

  This package provides a way to produce
  [`openapi3`](https://hackage.haskell.org/package/openapi3) documentation from a
  [`json-spec`](https://hackage.haskell.org/package/json-spec-0.1.0.0)
  specification.

  ## Example

  Given this data type:

  ```haskell
  data User = User
    {      name :: Text
    , lastLogin :: Maybe UTCTime
    }
    deriving ToSchema via (EncodingSchema User) -- <-- ToSchema instance defined here
  instance HasJsonEncodingSpec User where
    type EncodingSpec User =
      JsonObject
        '[ Required "name" JsonString
         , Optional "last-login" JsonDateTime
         ]
    toJSONStructure user =
      (Field @"name" (name user),
      (fmap (Field @"last-login") (lastLogin user),
      ()))
  ```

  Calling `Data.Aeson.encode (Data.OpenApi3.toSchema (Proxy :: Proxy User))`
  will produce the following Schema:

  ```json
  {
    "additionalProperties": false,
    "properties": {
      "last-login": {
        "format": "date-time",
        "type": "string"
      },
      "name": {
        "type": "string"
      }
    },
    "required": [
      "name"
    ],
    "type": "object"
  }
  ```
description-type: markdown
hash: 8f735d7e08561e8028b2e181dc3bb063e4a101d8b43bf53aee78bdd5b34eb7bf
homepage: https://github.com/owensmurray/json-spec-openapi
latest: 1.2.0.1
license-name: MIT
maintainer: rick@owensmurray.com
synopsis: json-spec-openapi
test-bench-deps:
  aeson: '>=2.2.1.0 && <2.3'
  base: '>=4.19.2.0 && <4.22'
  hspec: '>=2.11.1 && <2.12'
  insert-ordered-containers: '>=0.2.5.3 && <0.3'
  json-spec: '>=1.3.0.0 && <1.4'
  json-spec-openapi: '>=0'
  lens: '>=5.2.3 && <5.4'
  openapi3: '>=3.2.4 && <3.3'
  text: '>=2.1 && <2.2'
  time: '>=1.12.2 && <1.15'
