all-versions:
- '0.1'
- 0.1.1
- 0.1.2
- 0.2.0
- 0.3.0
- 0.4.0
- 0.5.0
- 0.5.1
- 0.5.2
- 0.5.3
- 0.5.4
- 0.5.5
- 0.5.6
author: Joey Hess
basic-deps:
  base: '>=4.9 && <5.0'
  reactive-banana: '>=1.1 && <1.4'
  stm: '>=2.4 && <2.6'
  time: '>=1.6 && <1.10'
  transformers: '>=0.5 && <0.6'
changelog: |
  reactive-banana-automation (0.5.6) upstream; urgency=medium

    * Allow building with reactive-banana 1.3
    * Fix runnings doctests.

   -- Joey Hess <id@joeyh.name>  Sun, 28 May 2023 16:34:29 -0400

  reactive-banana-automation (0.5.5) upstream; urgency=medium

    * Added liftMomemntIO.

   -- Joey Hess <id@joeyh.name>  Thu, 21 Oct 2021 01:36:57 -0400

  reactive-banana-automation (0.5.4) upstream; urgency=medium

    * Allow building with time-1.9, needed for ghc 8.8.3.

   -- Joey Hess <id@joeyh.name>  Sat, 15 Aug 2020 14:04:05 -0400

  reactive-banana-automation (0.5.3) upstream; urgency=medium

    * Prepare for monad of no return, by removing redundant return
      implementation for Automation.
    * Remove compatability for ghc older than 8.0.

   -- Joey Hess <id@joeyh.name>  Wed, 26 Feb 2020 11:31:40 -0400

  reactive-banana-automation (0.5.2) upstream; urgency=medium

    * Support stm-2.5.

   -- Joey Hess <id@joeyh.name>  Sun, 25 Aug 2019 14:11:26 -0400

  reactive-banana-automation (0.5.1) upstream; urgency=medium

    * Added Eq and Ord instances for PowerChange.
    * Added automationChanges and actuateFutureEvent.

   -- Joey Hess <id@joeyh.name>  Wed, 22 Aug 2018 18:26:15 -0400

  reactive-banana-automation (0.5.0) upstream; urgency=medium

    * Remove onEvent, which allowed arbitrary IO not connected with
      actuators, and so was not good for testing. (API change)
    * Add actuateEvent.

   -- Joey Hess <id@joeyh.name>  Tue, 22 May 2018 17:25:45 -0400

  reactive-banana-automation (0.4.0) upstream; urgency=medium

    * Simplified using ReaderT, so sensors and actuators do not need to be
      manually passed around. (API change)
    * Add Ord and Eq instances for Sensed.
    * Renamed onBehaviorChange to actuateBehavior.

   -- Joey Hess <id@joeyh.name>  Wed, 09 May 2018 12:12:08 -0400

  reactive-banana-automation (0.3.0) upstream; urgency=medium

    * EventSource is now a data type with an extra value for expansion.
      (API change)
    * Added newEventSource, sensorUnavailable, sensedEventBehavior,
      and automationStepper.

   -- Joey Hess <id@joeyh.name>  Sat, 05 May 2018 19:27:56 -0400

  reactive-banana-automation (0.2.0) upstream; urgency=medium

    * Automation is now a newtype. (API change)
    * Monoid instance for Automation to allow easily combining them.
      (Note that in 0.1, there were inherited Monoid and Monad instances
      for Automation, that did not work in a reasonable way.)

   -- Joey Hess <id@joeyh.name>  Thu, 03 May 2018 18:54:04 -0400

  reactive-banana-automation (0.1.2) upstream; urgency=medium

    * Added ClockSignal and related functions.
    * Functor instances for Sensed and Timestamped.
    * Added more Timestamp instances.
    * Generalized sensedAt to work with any Timestamp.
    * Added several more examples, including a night light,
      a behavior for a tipping bucket rain gauge, and sprinkers
      that only run when it's not rained recently.

   -- Joey Hess <id@joeyh.name>  Thu, 03 May 2018 17:28:32 -0400

  reactive-banana-automation (0.1.1) upstream; urgency=medium

    * Fix build with ghc 8.2 and reactive-banana 1.2.

   -- Joey Hess <id@joeyh.name>  Sat, 21 Apr 2018 20:14:41 -0400

  reactive-banana-automation (0.1) upstream; urgency=low

    * First release.

   -- Joey Hess <id@joeyh.name>  Sat, 21 Apr 2018 15:50:43 -0400
changelog-type: text
description: |-
  Functional Reactive Programming is a natural fit for home automation,
  which involves sensor values that vary over time and are used to control
  actuators.

  This library provides a framework and some useful types for
  using the reactive-banana FRP library for home automation.
description-type: haddock
hash: f6aa05527c28de8ccc007ae17b6171bd70c6ceeffe75a9b296ae1c7f1fddfb89
homepage: ''
latest: 0.5.6
license-name: AGPL-3.0-only
maintainer: Joey Hess <id@joeyh.name>
synopsis: home (etc) automation using reactive-banana
test-bench-deps:
  base: '>=0'
  doctest: '>=0.21.1'
